@model Atelier_2.Models.Client

@{
    ViewData["Title"] = "Edit Client";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ClientId" />

    <div class="form-group">
        <label asp-for="ClientFirstName" class="control-label"></label>
        <input asp-for="ClientFirstName" class="form-control" />
        <span asp-validation-for="ClientFirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ClientLastName" class="control-label"></label>
        <input asp-for="ClientLastName" class="form-control" />
        <span asp-validation-for="ClientLastName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
</form>
